* {
    font-family: 'Helvetica', sans-serif;
}

/* header */

h1 {
    text-align: center;
}

/* main */

.content-flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    justify-content: space-around;
}

.content-flex-wrapper div {
    border: 1px solid black;
    padding: 10px;
}

.box-1 {
    /* flex: 1; */
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box-2 {
    text-align: center;
    /* flex: 1; */
    flex-basis: 30%;
}

.box-3 {
    /* flex:1; */
    flex-basis: 30%;
    
}

#p1-box-1 {
    background-color: #a3b5ac;
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
}

#p1-box-2 {
    background-color: #5e7d6e;
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
}

#p1-box-3 {
    background-color: #194530;
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
}